apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: rcc-manager

images:
- name: williambr2022/rcc-londrina-back
  newName: williambr2022/rcc-londrina-back
  newTag: 03a8168ad7c7ef0b2e581af35618a12459ad84f6
