apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: rcc-manager

images:
- name: williambr2022/rcc-londrina-back
  newName: williambr2022/rcc-londrina-back
  newTag: ccb1942b9d65258e127dca366e5b26edbd79dd21
